<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>

<body>
    <h1>This is the Homepage 3*5</h1>

    <h3><%= 3*5 %></h3> <%# tag inside h3 will always produce a sum or a peoduct of the numbers and will return a string %>
    <h3><%= "hello world".toUpperCase() %></h3>
    <h3><%= ["hello", "nice", "to", "meet", "you"] %></h3>
    <h3><%= ["hello", "nice", "to", "meet", "you"][1] %></h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla voluptatibus, doloribus dignissimos blanditiis
        cum quis ducimus pariatur nemo, voluptate, fugit temporibus aspernatur. Cum aspernatur odio illo dolor nemo
        dignissimos exercitationem!
    </p>
    <button>Click Me</button>
</body>

</html>