*{
    text-align: center;
    /* margin: 0 auto; */
}

.btn-container{
    margin: 0 auto;
    display: grid;
    width: 60vh;
    /* background-color: red; */
    overflow: hidden;
    /* background-color: rebeccapurple; */
}
.box{
    height: 200px;
    width: 200px;
    background-color: yellow;
    margin: 10px auto;
    border: 5px solid black;
    border-radius: 30%;
    
}

.red{
    grid-row: 1;
    grid-column: 1;
    background-color: rgb(255, 93, 93);
}

.green{
    grid-row: 1;
    grid-column: 2;
    background-color: rgb(93, 255, 93);
}

.orange{
    grid-row: 2;
    grid-column: 1;
    background-color: rgb(255, 201, 99);
}

.blue{
    grid-row: 2;
    grid-column: 2;
    background-color: rgb(93, 93, 255);
}

.blink{
    background-color: white;
}
.userblink{
    background-color: rgb(38, 38, 38);
}